In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("Used Car Dataset.csv")

In [5]:
df

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,0,2017 Mercedes-Benz S-Class S400,Jul-17,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,Jan-21,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
2,2,2018 BMW X1 sDrive 20d xLine,Sep-18,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,23.75
3,3,2019 Kia Seltos GTX Plus,Dec-19,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,4,2019 Skoda Superb LK 1.8 TSI AT,Aug-19,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,1548,2020 Hyundai Creta SX Opt Diesel AT BSVI,Aug-20,Comprehensive,Diesel,5,35000,First Owner,Automatic,2020,1493.00,11345.0,11345.0,250.0,17.41
1549,1549,2022 Renault KWID 1.0 RXL Opt BSVI,2022,Third Party insurance,Petrol,5,10000,999 cc,2022,Power Steering,999.00,6706.0,6706.0,91.0,3.98
1550,1550,2017 Honda WR-V i-VTEC S,Jun-17,Comprehensive,Petrol,5,49000,First Owner,Manual,2017,17.50,1199.0,1199.0,887.0,5.85
1551,1551,2018 Volkswagen Polo 1.0 MPI Comfortline,May-18,Comprehensive,Petrol,5,40000,Second Owner,Manual,2018,18.78,999.0,999.0,75.0,4.75
1552,1552,2018 Maruti Swift Dzire VXI,May-18,Comprehensive,Petrol,5,34756,First Owner,Manual,2018,20.85,1197.0,1197.0,8314.0,6.10

In [6]:
df.isnull().sum()

Unnamed: 0            0
car_name              0
registration_year     0
insurance_validity    0
fuel_type             0
seats                 0
kms_driven            0
ownsership            0
transmission          0
manufacturing_year    0
mileage(kmpl)         3
engine(cc)            3
max_power(bhp)        3
torque(Nm)            4
price(in lakhs)       0
dtype: int64

In [7]:
toyota=df[df['mileage(kmpl)'].isna()].index

In [8]:
df.loc[[513, 533, 589],:]

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
513,513,2011 Toyota Etios G,Dec-11,Comprehensive,Petrol,5,51710,First Owner,Manual,2011,NaN,NaN,NaN,NaN,2.48
533,533,2011 Toyota Etios G,Dec-11,Comprehensive,Petrol,5,51710,First Owner,Manual,2011,NaN,NaN,NaN,NaN,2.48
589,589,2011 Toyota Etios G,Jul-11,Comprehensive,Petrol,5,54214,First Owner,Manual,2011,NaN,NaN,NaN,NaN,2.55

In [9]:
df.loc[toyota,"mileage(kmpl)"]=18

In [10]:
df.loc[toyota,"engine(cc)"]=1496

In [11]:
df.loc[toyota,"max_power(bhp)"]=986

In [12]:
df.loc[toyota,"torque(Nm)"]=132

In [13]:
df.isna().sum()

Unnamed: 0            0
car_name              0
registration_year     0
insurance_validity    0
fuel_type             0
seats                 0
kms_driven            0
ownsership            0
transmission          0
manufacturing_year    0
mileage(kmpl)         0
engine(cc)            0
max_power(bhp)        0
torque(Nm)            1
price(in lakhs)       0
dtype: int64

In [14]:
df[df['torque(Nm)'].isna()].index

Index([462], dtype='int64')

In [15]:
df.loc[462]

Unnamed: 0                                      462
car_name              2022 BMW X3 xDrive30i M Sport
registration_year                            Feb-22
insurance_validity                         Zero Dep
fuel_type                                    Petrol
seats                                             5
kms_driven                                     8450
ownsership                              First Owner
transmission                              Automatic
manufacturing_year                             2022
mileage(kmpl)                                  19.0
engine(cc)                                      5.0
max_power(bhp)                                  5.0
torque(Nm)                                      NaN
price(in lakhs)                                71.9
Name: 462, dtype: object

In [16]:
df.loc[462,'torque(Nm)']=350

In [17]:
df.isna().sum()

Unnamed: 0            0
car_name              0
registration_year     0
insurance_validity    0
fuel_type             0
seats                 0
kms_driven            0
ownsership            0
transmission          0
manufacturing_year    0
mileage(kmpl)         0
engine(cc)            0
max_power(bhp)        0
torque(Nm)            0
price(in lakhs)       0
dtype: int64

In [18]:
fuel_diff=df[df["fuel_type"]=="Petrol"]

In [19]:
fuel_diff

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,0,2017 Mercedes-Benz S-Class S400,Jul-17,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,Jan-21,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
3,3,2019 Kia Seltos GTX Plus,Dec-19,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,4,2019 Skoda Superb LK 1.8 TSI AT,Aug-19,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00
5,5,2017 Honda Jazz 1.2 S i VTEC,Jul-17,Third Party insurance,Petrol,5,42000,First Owner,Manual,2017,18.70,1199.0,1199.0,887.0,5.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1546,1546,2018 Honda Jazz V CVT,May-18,Comprehensive,Petrol,5,19446,First Owner,Automatic,2018,18.20,1199.0,1199.0,887.0,6.50
1549,1549,2022 Renault KWID 1.0 RXL Opt BSVI,2022,Third Party insurance,Petrol,5,10000,999 cc,2022,Power Steering,999.00,6706.0,6706.0,91.0,3.98
1550,1550,2017 Honda WR-V i-VTEC S,Jun-17,Comprehensive,Petrol,5,49000,First Owner,Manual,2017,17.50,1199.0,1199.0,887.0,5.85
1551,1551,2018 Volkswagen Polo 1.0 MPI Comfortline,May-18,Comprehensive,Petrol,5,40000,Second Owner,Manual,2018,18.78,999.0,999.0,75.0,4.75
1552,1552,2018 Maruti Swift Dzire VXI,May-18,Comprehensive,Petrol,5,34756,First Owner,Manual,2018,20.85,1197.0,1197.0,8314.0,6.10

In [20]:
df["fuel_type"].value_counts()

fuel_type
Petrol     1013
Diesel      516
CNG          22
5 Seats       2
Name: count, dtype: int64

In [21]:
df["manufacturing_year"].value_counts()

manufacturing_year
2018                   236
2017                   190
2019                   184
2016                   133
2015                   133
2020                   122
2021                   119
2014                   103
2022                    90
2013                    51
2012                    50
Power Steering          46
2023                    35
2011                    27
2010                    18
2009                    11
Power Windows Front      2
Air Conditioner          2
2007                     1
Name: count, dtype: int64

In [22]:
df[df["engine(cc)"]<1000].value_counts().sum()

np.int64(200)

In [23]:
(df[df["engine(cc)"]>1000].value_counts )and(df[df["engine(cc)"]<2000 ].value_counts()).sum()

np.int64(1249)

In [24]:
# df[df['ownsership']=='First Owner'].value_counts().sum()

In [25]:
df['ownsership'].value_counts()

ownsership
First Owner     1240
Second Owner     240
1995 cc           24
Third Owner       21
1498 cc            3
2993 cc            2
998 cc             2
1461 cc            2
1451 cc            2
1497 cc            2
2013               2
Fifth Owner        2
999 cc             2
1998 cc            1
1950 cc            1
1996 cc            1
1199 cc            1
1248 cc            1
1197 cc            1
1984 cc            1
2999 cc            1
1968 cc            1
Name: count, dtype: int64

In [26]:
df['transmission'].value_counts()

transmission
Manual                 835
Automatic              668
2017                    28
2014                     5
2011                     3
2023                     2
2020                     2
2021                     2
2022                     2
Power Windows Front      2
2018                     2
2015                     1
2016                     1
Name: count, dtype: int64