In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('neet_data.csv')

In [6]:
df

,created_at,retweet_count,source,user_id,user_name,user_description,user_follower_count,user_friends_count,user_location,user_verified,user_url,tweet,length_of_tweet
0,2020-10-31 14:10:28,141,Twitter for Android,1250294694937915394,Rumi,NaN,14,180,NaN,False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139
1,2020-10-31 14:10:11,1,Twitter for iPhone,57059492,Tom Bewick,"Proud dad of three & cat, @SussexCCC fan. CEO ...",2314,3002,Sussex,False,https://t.co/w6QEi0PBzP,\xf0\x9f\x91\x87This is a really important iss...,140
2,2020-10-31 14:09:48,141,Twitter Web App,1016022678,Lemonade,"Wisdom is knowing the right path to take, Inte...",285,1013,"Bedfordview, South Africa",False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139
3,2020-10-31 14:09:41,141,Twitter for Android,1085818329816883201,The Rus,NaN,147,467,NaN,False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139
4,2020-10-31 14:09:22,0,Twitter for Android,1227501071490113537,Sakshi Yadav,it's not my attitude it's my style,2,24,NaN,False,NaN,@RomeshSabharwal @ArvindKejriwal Romesh Sabhar...,140
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47376,2020-10-30 15:29:35,0,Twitter for Android,1168840190426632192,neet_fad_do,Bhola sa chora,254,513,NaN,False,NaN,Friend Request \xe2\x9d\x8c\nAcid request \xe2...,56
47377,2020-10-30 15:29:35,1700,Twitter for Android,1696615807,Yarutai - Garbage NEET,Random person who likes drawing (but not a \nl...,23,754,NaN,False,NaN,RT @Telepeturtle: those are some pretty nice s...,74
47378,2020-10-30 15:28:59,167,Twitter for Android,1313330869113745413,Raushan,NaN,2,2,NaN,False,NaN,"RT @KhushnumaKashm1: (8/n)\n18 year old, Basit...",140
47379,2020-10-30 15:28:37,270,Twitter for Android,1161551282995388416,Vijaykant,Finding the enemies of India \xf0\x9f\x87\xae\...,140,1309,NaN,False,NaN,RT @OpIndia_com: Yogi Adityanath asks chief se...,140
47380,2020-10-30 15:28:14,0,Twitter for Android,1211810532006612992,Icarus,404: \xd8\xaf\xd9\x8a\xd8\xa7\xd9\x86\xd8\xa9 ...,16,45,your friendly local enby,False,NaN,i hate talking to people from my department bu...,139

In [7]:
df.sort_values('retweet_count',ascending=False)

,created_at,retweet_count,source,user_id,user_name,user_description,user_follower_count,user_friends_count,user_location,user_verified,user_url,tweet,length_of_tweet
32860,2020-11-08 05:30:01,614304,Twitter for iPhone,1024658968394625024,\xe3\x81\xb2\xe3\x81\x88\xe3\x81\xa3,\xe3\x85\xa4\xe3\x82\xa2\xe3\x82\xa4\xe3\x82\x...,62,115,NaN,False,https://t.co/cHZdP4uOdu,"RT @JoeBiden: America, I\xe2\x80\x99m honored ...",140
33262,2020-11-07 21:52:54,581097,Twitter for Android,1099388669448867842,Neet\xf0\x9f\x83\x8fPeet,\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\x...,11,141,NaN,False,NaN,"RT @KamalaHarris: We did it, @JoeBiden. https:...",63
35111,2020-11-06 14:20:33,381458,Twitter Web App,2578241503,\xe3\x81\xaf\xe3\x81\xaa\xe3\x81\x91\xe3\x81\x...,Kei|20\xe2\x86\x91|intp|eng/fil OK|SparQlew\xe...,624,527,read carrd before follow!!,False,https://t.co/XgmHbPUgAi,RT @GretaThunberg: So ridiculous. Donald must ...,140
32585,2020-11-08 07:19:02,204348,Twitter for iPhone,1103362192169189376,Parneet kaur,"\xf0\x9f\x96\x95 all negative , all positive v...",587,193,"New Jersey, USA",False,https://t.co/PXgYJf0gIA,RT @Al_Sanchino: It\xe2\x80\x99s wild Trump su...,140
38044,2020-11-04 18:19:13,192350,Twitter for iPhone,54249914,Couture_Neet,snapchat . Neetsobeautiful,547,1182,Miii Casaa,False,NaN,"RT @JoeBiden: Keep the faith, guys. We\xe2\x80...",57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17546,2020-10-31 13:04:10,0,Twitter for iPhone,1278788303152701450,theonewun \xf0\x9f\x94\x9e,NSFW / 25 years old / \xf0\x9f\x87\xac\xf0\x9f...,13,139,NaN,False,NaN,@KingDorpART @sweaty_neet Tweets that make you...,55
17547,2020-10-31 13:03:56,0,Twitter for Android,1113819966875287554,clanglog,"24, nsfw. im the ghost of a worm unwillingly t...",12,169,NaN,False,NaN,i cant even be like IM AN ADULT!! because i am...,107
17548,2020-10-31 13:03:38,0,Twitter for Android,1288844328966684675,Count Dorpula \xf0\x9f\xa6\x87,Artist / Gamer / Storyteller \n(Age: 24)\n\n\...,337,114,World 4-2,False,https://t.co/75irWpg7tz,@sweaty_neet *Gurgle* *glorp*,29
17550,2020-10-31 13:02:40,0,Twitter Web App,3003131804,chhagan singh,NaN,1,2,NaN,False,NaN,@NirmalUtkarsh sir I buy jee main and advance ...,140
47359,2020-10-30 15:38:30,0,Twitter for iPhone,283556478,NewsFirst,XnewsFirst News & information to the Tamil vie...,114,243,"Dindigul, India",False,https://t.co/RUZB00OK8P,"After govt takes executive route, Tamil Nadu g...",133

In [9]:

df.sort_values('retweet_count',ascending=False).head(10)

,created_at,retweet_count,source,user_id,user_name,user_description,user_follower_count,user_friends_count,user_location,user_verified,user_url,tweet,length_of_tweet
32860,2020-11-08 05:30:01,614304,Twitter for iPhone,1024658968394625024,\xe3\x81\xb2\xe3\x81\x88\xe3\x81\xa3,\xe3\x85\xa4\xe3\x82\xa2\xe3\x82\xa4\xe3\x82\x...,62,115,NaN,False,https://t.co/cHZdP4uOdu,"RT @JoeBiden: America, I\xe2\x80\x99m honored ...",140
33262,2020-11-07 21:52:54,581097,Twitter for Android,1099388669448867842,Neet\xf0\x9f\x83\x8fPeet,\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\x...,11,141,NaN,False,NaN,"RT @KamalaHarris: We did it, @JoeBiden. https:...",63
35111,2020-11-06 14:20:33,381458,Twitter Web App,2578241503,\xe3\x81\xaf\xe3\x81\xaa\xe3\x81\x91\xe3\x81\x...,Kei|20\xe2\x86\x91|intp|eng/fil OK|SparQlew\xe...,624,527,read carrd before follow!!,False,https://t.co/XgmHbPUgAi,RT @GretaThunberg: So ridiculous. Donald must ...,140
32585,2020-11-08 07:19:02,204348,Twitter for iPhone,1103362192169189376,Parneet kaur,"\xf0\x9f\x96\x95 all negative , all positive v...",587,193,"New Jersey, USA",False,https://t.co/PXgYJf0gIA,RT @Al_Sanchino: It\xe2\x80\x99s wild Trump su...,140
38044,2020-11-04 18:19:13,192350,Twitter for iPhone,54249914,Couture_Neet,snapchat . Neetsobeautiful,547,1182,Miii Casaa,False,NaN,"RT @JoeBiden: Keep the faith, guys. We\xe2\x80...",57
16277,2020-10-25 14:14:37,137480,Twitter for Android,929320897839693824,\xeb\x8b\x88\xed\x8a\xb8,\xeb\x82\x98\xeb\xb9\x84\xeb\xb3\xb4\xeb\xb2\x...,31,67,NaN,False,NaN,RT @bbykaat: egg thief!!!!!!!!! https://t.co/X...,55
37849,2020-11-04 23:18:55,137374,Twitter Web App,1950350845,NEET Hime\xe2\x9c\xa8,FFXIV\xef\xbd\x9c18\xe2\x86\x91 | I love my OC...,102,481,waiting at the rising stones,False,NaN,RT @syvzwvn: RT for extreme luck https://t.co/...,56
37640,2020-11-05 04:09:52,137367,Twitter for Android,991720849248894976,\xed\x9e\x9b\xed\x82\xa4\xeb\x8b\x88\xed\x8a\xb8,\xed\x97\xa4\xeb\x8d\x94 - \xec\x84\xb1\xec\x9...,62,61,\xec\x95\x84\xec\x8b\xb8\xeb\x9d\xbc\xeb\xb9\x...,False,NaN,RT @syvzwvn: RT for extreme luck https://t.co/...,56
37071,2020-11-05 12:17:30,137367,Twitter for iPhone,750221499269730304,\xe3\x81\xbd\xe3\x81\x93,\xe3\x82\x8a,223,406,NaN,False,NaN,RT @syvzwvn: RT for extreme luck https://t.co/...,56
14527,2020-10-26 13:28:21,129080,Twitter for Android,2581431452,kalats,be kinder // ask me on https://t.co/ePnw9NQdI3,252,314,NaN,False,NaN,RT @itspapichurro: a baby using a baby voice o...,123

In [10]:

all=df.sort_values('retweet_count',ascending=False).head(10)

In [11]:
first=all['retweet_count']

In [12]:
first

32860    614304
33262    581097
35111    381458
32585    204348
38044    192350
16277    137480
37849    137374
37640    137367
37071    137367
14527    129080
Name: retweet_count, dtype: int64

In [13]:
print('TOP 10 Retweet sum is XXXXXX')
first.sum()

TOP 10 Retweet sum is XXXXXX

np.int64(2652225)

In [14]:
android_count=df[df.loc[:,'source'].str.contains('Android',na=False)]

In [15]:
android_count

,created_at,retweet_count,source,user_id,user_name,user_description,user_follower_count,user_friends_count,user_location,user_verified,user_url,tweet,length_of_tweet
0,2020-10-31 14:10:28,141,Twitter for Android,1250294694937915394,Rumi,NaN,14,180,NaN,False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139
3,2020-10-31 14:09:41,141,Twitter for Android,1085818329816883201,The Rus,NaN,147,467,NaN,False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139
4,2020-10-31 14:09:22,0,Twitter for Android,1227501071490113537,Sakshi Yadav,it's not my attitude it's my style,2,24,NaN,False,NaN,@RomeshSabharwal @ArvindKejriwal Romesh Sabhar...,140
5,2020-10-31 14:07:29,80,Twitter for Android,1160942418,nabat kapoor,Retired. RTs not endorsements.,838,29,kolkatta active 2014,False,NaN,RT @DrSubhasree: Congratulations #Delhi for sc...,140
6,2020-10-31 14:06:34,141,Twitter for Android,1307041172444119056,Stanleyholmes9,I love rapping and I am dam good at it...,14,146,"Durban, South Africa",False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47376,2020-10-30 15:29:35,0,Twitter for Android,1168840190426632192,neet_fad_do,Bhola sa chora,254,513,NaN,False,NaN,Friend Request \xe2\x9d\x8c\nAcid request \xe2...,56
47377,2020-10-30 15:29:35,1700,Twitter for Android,1696615807,Yarutai - Garbage NEET,Random person who likes drawing (but not a \nl...,23,754,NaN,False,NaN,RT @Telepeturtle: those are some pretty nice s...,74
47378,2020-10-30 15:28:59,167,Twitter for Android,1313330869113745413,Raushan,NaN,2,2,NaN,False,NaN,"RT @KhushnumaKashm1: (8/n)\n18 year old, Basit...",140
47379,2020-10-30 15:28:37,270,Twitter for Android,1161551282995388416,Vijaykant,Finding the enemies of India \xf0\x9f\x87\xae\...,140,1309,NaN,False,NaN,RT @OpIndia_com: Yogi Adityanath asks chief se...,140
47380,2020-10-30 15:28:14,0,Twitter for Android,1211810532006612992,Icarus,404: \xd8\xaf\xd9\x8a\xd8\xa7\xd9\x86\xd8\xa9 ...,16,45,your friendly local enby,False,NaN,i hate talking to people from my department bu...,139

In [16]:
df.loc[df['user_follower_count'].idxmax(),['user_name','user_location','user_follower_count']]

user_name                  NDTV
user_location             India
user_follower_count    13934355
Name: 44355, dtype: object

In [17]:
df['followers_friend_ratio']=df['user_follower_count'] / df['user_friends_count']

In [18]:
df

,created_at,retweet_count,source,user_id,user_name,user_description,user_follower_count,user_friends_count,user_location,user_verified,user_url,tweet,length_of_tweet,followers_friend_ratio
0,2020-10-31 14:10:28,141,Twitter for Android,1250294694937915394,Rumi,NaN,14,180,NaN,False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139,0.077778
1,2020-10-31 14:10:11,1,Twitter for iPhone,57059492,Tom Bewick,"Proud dad of three & cat, @SussexCCC fan. CEO ...",2314,3002,Sussex,False,https://t.co/w6QEi0PBzP,\xf0\x9f\x91\x87This is a really important iss...,140,0.770819
2,2020-10-31 14:09:48,141,Twitter Web App,1016022678,Lemonade,"Wisdom is knowing the right path to take, Inte...",285,1013,"Bedfordview, South Africa",False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139,0.281343
3,2020-10-31 14:09:41,141,Twitter for Android,1085818329816883201,The Rus,NaN,147,467,NaN,False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139,0.314775
4,2020-10-31 14:09:22,0,Twitter for Android,1227501071490113537,Sakshi Yadav,it's not my attitude it's my style,2,24,NaN,False,NaN,@RomeshSabharwal @ArvindKejriwal Romesh Sabhar...,140,0.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47376,2020-10-30 15:29:35,0,Twitter for Android,1168840190426632192,neet_fad_do,Bhola sa chora,254,513,NaN,False,NaN,Friend Request \xe2\x9d\x8c\nAcid request \xe2...,56,0.495127
47377,2020-10-30 15:29:35,1700,Twitter for Android,1696615807,Yarutai - Garbage NEET,Random person who likes drawing (but not a \nl...,23,754,NaN,False,NaN,RT @Telepeturtle: those are some pretty nice s...,74,0.030504
47378,2020-10-30 15:28:59,167,Twitter for Android,1313330869113745413,Raushan,NaN,2,2,NaN,False,NaN,"RT @KhushnumaKashm1: (8/n)\n18 year old, Basit...",140,1.000000
47379,2020-10-30 15:28:37,270,Twitter for Android,1161551282995388416,Vijaykant,Finding the enemies of India \xf0\x9f\x87\xae\...,140,1309,NaN,False,NaN,RT @OpIndia_com: Yogi Adityanath asks chief se...,140,0.106952
47380,2020-10-30 15:28:14,0,Twitter for Android,1211810532006612992,Icarus,404: \xd8\xaf\xd9\x8a\xd8\xa7\xd9\x86\xd8\xa9 ...,16,45,your friendly local enby,False,NaN,i hate talking to people from my department bu...,139,0.355556

In [19]:
df.isna().sum()

created_at                    0
retweet_count                 0
source                       19
user_id                       0
user_name                     1
user_description          10871
user_follower_count           0
user_friends_count            0
user_location             21134
user_verified                 0
user_url                  38101
tweet                         0
length_of_tweet               0
followers_friend_ratio      147
dtype: int64

In [20]:
null_contains=df[df['user_description'].isna()].index

In [21]:
null_contains

Index([    0,     3,    10,    18,    22,    27,    31,    43,    48,    53,
       ...
       47318, 47324, 47329, 47341, 47353, 47357, 47363, 47364, 47370, 47378],
      dtype='int64', length=10871)

In [22]:
df.loc[null_contains,'user_description']='Twitter'

In [23]:
df

,created_at,retweet_count,source,user_id,user_name,user_description,user_follower_count,user_friends_count,user_location,user_verified,user_url,tweet,length_of_tweet,followers_friend_ratio
0,2020-10-31 14:10:28,141,Twitter for Android,1250294694937915394,Rumi,Twitter,14,180,NaN,False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139,0.077778
1,2020-10-31 14:10:11,1,Twitter for iPhone,57059492,Tom Bewick,"Proud dad of three & cat, @SussexCCC fan. CEO ...",2314,3002,Sussex,False,https://t.co/w6QEi0PBzP,\xf0\x9f\x91\x87This is a really important iss...,140,0.770819
2,2020-10-31 14:09:48,141,Twitter Web App,1016022678,Lemonade,"Wisdom is knowing the right path to take, Inte...",285,1013,"Bedfordview, South Africa",False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139,0.281343
3,2020-10-31 14:09:41,141,Twitter for Android,1085818329816883201,The Rus,Twitter,147,467,NaN,False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139,0.314775
4,2020-10-31 14:09:22,0,Twitter for Android,1227501071490113537,Sakshi Yadav,it's not my attitude it's my style,2,24,NaN,False,NaN,@RomeshSabharwal @ArvindKejriwal Romesh Sabhar...,140,0.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47376,2020-10-30 15:29:35,0,Twitter for Android,1168840190426632192,neet_fad_do,Bhola sa chora,254,513,NaN,False,NaN,Friend Request \xe2\x9d\x8c\nAcid request \xe2...,56,0.495127
47377,2020-10-30 15:29:35,1700,Twitter for Android,1696615807,Yarutai - Garbage NEET,Random person who likes drawing (but not a \nl...,23,754,NaN,False,NaN,RT @Telepeturtle: those are some pretty nice s...,74,0.030504
47378,2020-10-30 15:28:59,167,Twitter for Android,1313330869113745413,Raushan,Twitter,2,2,NaN,False,NaN,"RT @KhushnumaKashm1: (8/n)\n18 year old, Basit...",140,1.000000
47379,2020-10-30 15:28:37,270,Twitter for Android,1161551282995388416,Vijaykant,Finding the enemies of India \xf0\x9f\x87\xae\...,140,1309,NaN,False,NaN,RT @OpIndia_com: Yogi Adityanath asks chief se...,140,0.106952
47380,2020-10-30 15:28:14,0,Twitter for Android,1211810532006612992,Icarus,404: \xd8\xaf\xd9\x8a\xd8\xa7\xd9\x86\xd8\xa9 ...,16,45,your friendly local enby,False,NaN,i hate talking to people from my department bu...,139,0.355556

In [24]:
df.isna().sum()

created_at                    0
retweet_count                 0
source                       19
user_id                       0
user_name                     1
user_description              0
user_follower_count           0
user_friends_count            0
user_location             21134
user_verified                 0
user_url                  38101
tweet                         0
length_of_tweet               0
followers_friend_ratio      147
dtype: int64

In [25]:
df.drop(['source','user_name','user_location','user_url','followers_friend_ratio'],axis=1,inplace=True)

In [26]:
df.insert(3,'is_allow','True')

In [27]:
df

,created_at,retweet_count,user_id,is_allow,user_description,user_follower_count,user_friends_count,user_verified,tweet,length_of_tweet
0,2020-10-31 14:10:28,141,1250294694937915394,True,Twitter,14,180,False,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139
1,2020-10-31 14:10:11,1,57059492,True,"Proud dad of three & cat, @SussexCCC fan. CEO ...",2314,3002,False,\xf0\x9f\x91\x87This is a really important iss...,140
2,2020-10-31 14:09:48,141,1016022678,True,"Wisdom is knowing the right path to take, Inte...",285,1013,False,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139
3,2020-10-31 14:09:41,141,1085818329816883201,True,Twitter,147,467,False,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139
4,2020-10-31 14:09:22,0,1227501071490113537,True,it's not my attitude it's my style,2,24,False,@RomeshSabharwal @ArvindKejriwal Romesh Sabhar...,140
...,...,...,...,...,...,...,...,...,...,...
47376,2020-10-30 15:29:35,0,1168840190426632192,True,Bhola sa chora,254,513,False,Friend Request \xe2\x9d\x8c\nAcid request \xe2...,56
47377,2020-10-30 15:29:35,1700,1696615807,True,Random person who likes drawing (but not a \nl...,23,754,False,RT @Telepeturtle: those are some pretty nice s...,74
47378,2020-10-30 15:28:59,167,1313330869113745413,True,Twitter,2,2,False,"RT @KhushnumaKashm1: (8/n)\n18 year old, Basit...",140
47379,2020-10-30 15:28:37,270,1161551282995388416,True,Finding the enemies of India \xf0\x9f\x87\xae\...,140,1309,False,RT @OpIndia_com: Yogi Adityanath asks chief se...,140
47380,2020-10-30 15:28:14,0,1211810532006612992,True,404: \xd8\xaf\xd9\x8a\xd8\xa7\xd9\x86\xd8\xa9 ...,16,45,False,i hate talking to people from my department bu...,139

In [28]:
df.drop('tweet',axis=1,inplace=True)

In [29]:
df

,created_at,retweet_count,user_id,is_allow,user_description,user_follower_count,user_friends_count,user_verified,length_of_tweet
0,2020-10-31 14:10:28,141,1250294694937915394,True,Twitter,14,180,False,139
1,2020-10-31 14:10:11,1,57059492,True,"Proud dad of three & cat, @SussexCCC fan. CEO ...",2314,3002,False,140
2,2020-10-31 14:09:48,141,1016022678,True,"Wisdom is knowing the right path to take, Inte...",285,1013,False,139
3,2020-10-31 14:09:41,141,1085818329816883201,True,Twitter,147,467,False,139
4,2020-10-31 14:09:22,0,1227501071490113537,True,it's not my attitude it's my style,2,24,False,140
...,...,...,...,...,...,...,...,...,...
47376,2020-10-30 15:29:35,0,1168840190426632192,True,Bhola sa chora,254,513,False,56
47377,2020-10-30 15:29:35,1700,1696615807,True,Random person who likes drawing (but not a \nl...,23,754,False,74
47378,2020-10-30 15:28:59,167,1313330869113745413,True,Twitter,2,2,False,140
47379,2020-10-30 15:28:37,270,1161551282995388416,True,Finding the enemies of India \xf0\x9f\x87\xae\...,140,1309,False,140
47380,2020-10-30 15:28:14,0,1211810532006612992,True,404: \xd8\xaf\xd9\x8a\xd8\xa7\xd9\x86\xd8\xa9 ...,16,45,False,139

In [30]:
dates=df['created_at'].str

In [31]:
dates

In [33]:
dates[0:4]

0        2020
1        2020
2        2020
3        2020
4        2020
         ...
47376    2020
47377    2020
47378    2020
47379    2020
47380    2020
Name: created_at, Length: 47381, dtype: object

In [34]:
dates[5:7]

0        10
1        10
2        10
3        10
4        10
         ..
47376    10
47377    10
47378    10
47379    10
47380    10
Name: created_at, Length: 47381, dtype: object